{% extends 'site_bs4_base.html' %}
{% block body %}

    {% include 'primitive_wikimedia/nav.html' %}

    <div class="container">

        <h1>Primitive Wikimedia</h1>

        <p class="lead">
            Wikimedia Commons daily images modified with PrimitivePic.
        </p>

        {% for entry in entries %}
            {% include "primitive_wikimedia/entry.html" with entry=entry %}
        {% endfor %}

        <br />
        <div class="card-group">
            {% if next_page_link %}
                <div class="card  card-block">
                    <a class="btn btn-info" href="{{ next_page_link }}">Older</a>
                </div>
            {% endif %}
            {% if previous_page_link %}
                <div class="card  card-block">
                    <a class="btn btn-info" href="{{ previous_page_link }}">Newer</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
