<nav class="navbar navbar-dark bg-inverse">
    <div class="container">

        <a href="/" class="m-b-0 navbar-brand">JohnFMarion.com</a>

        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://commons.wikimedia.org/wiki/Main_Page" target="_blank">Wikimedia Commons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/fogleman/primitive" target="_blank">PrimitivePic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/jfmario/primitive-wikimedia" target="_blank">Project Repo</a>
            </li>
        </ul>
    </div>
</nav>